/*! @import */
/*! @tailwind */

@font-face {
  font-family: BebasNeue;
  src: url('./assets/fonts/BebasNeue.ttf');
};
@font-face {
  font-family: Texturina;
  src: url('./assets/fonts/Texturina.ttf');
};

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer components {

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2
  }
  
  .base-text-color {
    @apply text-white dark:text-red-500
  }

  .base-bg-color {
    @apply bg-red-600 dark:bg-gray-900
  }

  .base-border-color {
    @apply border border-white dark:border-red-500
  }

  .base-button-primary {
    @apply text-white dark:text-red-500 bg-red-600 dark:bg-gray-900 border border-white dark:border-red-500 px-3 py-1 transition duration-100 focus:outline-none font-semibold hover:bg-white hover:text-red-500 dark:hover:bg-red-500 dark:hover:text-white
  }

  .base-hover-button {
    @apply hover:bg-white hover:text-red-500 dark:hover:bg-red-500 dark:hover:text-white
  }

  .base-button-secondary {
    @apply border border-red-600 dark:border-white px-3 py-1 transition duration-100 focus:outline-none text-red-600 dark:text-white font-semibold hover:text-white hover:bg-red-600 dark:hover:text-red-600 dark:hover:bg-white
  }

  .base-button {
    @apply px-3 py-1 transition duration-100 focus:outline-none
  }

  .base-input-bg-color {
    @apply bg-white dark:bg-red-500
  }

  .base-input-text-color {
    @apply text-red-500 dark:text-gray-900
  }
}