/*! @import */
/*! @tailwind */

@font-face {
  font-family: BebasNeue;
  src: url('./assets/fonts/BebasNeue.ttf');
};
@font-face {
  font-family: Texturina;
  src: url('./assets/fonts/Texturina.ttf');
};

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer components {

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2
  }
  
  .base-text-color {
    @apply text-white
  }

  .base-bg-color {
    @apply bg-gray-900
  }

  .base-border-color {
    @apply border border-red-800
  }

  .base-button-primary {
    @apply text-white bg-gray-700 px-3 py-1 transition duration-100 focus:outline-none font-semibold hover:bg-gray-600 hover:text-white
  }

  .base-hover-button {
    @apply hover:bg-gray-800 hover:text-white
  }

  .base-button-secondary {
    @apply border border-white px-3 py-1 transition duration-100 focus:outline-none text-white font-semibold hover:text-red-800 hover:bg-white
  }

  .base-button {
    @apply px-3 py-1 transition duration-100 focus:outline-none
  }

  .base-input-bg-color {
    @apply bg-gray-800
  }

  .base-input-text-color {
    @apply text-gray-900
  }
}